header {
  overflow: auto;
  position: relative;
  width: 100%;
  height: 100px;
  font-family: "Open Sans", sans-serif;
}
.mainheader {
  text-align: center;
  text-decoration: underline;
  margin: 0 auto 0 auto;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 5px;
}
body {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-image: url(https://cdn.wallpapersafari.com/90/57/9G7KTN.jpg);
  color: rgba(0, 0, 0, 0.966);
  min-height: 100%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  overflow: scroll;
}
.navbar-brand {
  font-weight: 800;
}
.navbar-nav {
  float: right;
  list-style: none;
  width: fit-content;
}
p {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: justify;
  font-size: large;
}
.profpic {
  float: left;
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  max-width: 100%;
  height: auto;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(6, 6, 7);
  flex-shrink: 0;
  padding: 20px;
}
.background {
  clear: both;
  background-color: #fffdfd;
  padding: 10px;
  margin: 30px auto;
  width: 70%;
  border: 5px solid #cc9797;
}
.mb-3 {
  align-self: center;

  padding-left: 200px;
  padding-right: 200px;

  max-width: 100%;
  height: auto;
}
.col-auto {
  padding-top: 10px;
}
.footer {
  color: whitesmoke;
}
