/*this gives the background color of the html pages*/
body {
  background-color: rgb(97, 60, 60);
}
/*this gives space at bottom of content to allow some space between footer and content*/
main {
  margin-bottom: 100px;
}
/*this gives the font type*/
p {
  font-family: "Open Sans", sans-serif;
}
/*this is the inner section of box*/
.border {
  background-color: beige;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 2%;
}
/*allows the three navigation achor tags to be floating on the right*/
.nav-section {
  float: right;
}
/*allows the footer's characteristics to be set*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(6, 6, 7);
  flex-shrink: 0;
  padding: 20px;
  color: whitesmoke;
}
